services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: swampnotes
    ports: ["5432:5432"]
    volumes:
      - db_data:/var/lib/postgresql/data
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: admin123
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server --console-address ":9001" /data
  # redis:  # we should enable this later for any background job(s)
  #   image: redis:7-alpine
  #   ports: ["6379:6379"]
volumes:
  db_data:
  minio_data: