services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: swampnotes
    ports: ["5432:5432"]
    volumes:
      - db_data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports: ["9000:9000","9001:9001"]
    volumes:
      - minio_data:/data
  # redis:  # we should enable this later for any background job(s)
  #   image: redis:7-alpine
  #   ports: ["6379:6379"]
volumes:
  db_data:
  minio_data: